<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.online.dao.ShopDao">
    <resultMap id="studentMap" type="com.community.online.domain.Shop">
        <result column="id" property="id"/>
        <result column="student_num" property="studentNum"/>
        <result column="user_name" property="userName"/>
        <result column="real_name" property="realName"/>
        <result column="password" property="password"/>
    </resultMap>
    <sql id="base_column">
        id, student_num, user_name, real_name, password
    </sql>
    <select id="selectStudentByUserName" resultMap="studentMap">
        select <include refid="base_column"/> from shop where user_name=#{userName} limit 1;
    </select>
    <select id="selectStudentById" resultMap="studentMap">
        select <include refid="base_column"/> from shop where id=#{id};
    </select>
    <select id="selectAllStudents" resultMap="studentMap">
        select <include refid="base_column"/> from shop;
    </select>
    <insert id="insertStudent" parameterType="com.community.online.domain.Waiter">
        INSERT INTO shop (<include refid="base_column"/>) VALUES (#{id}, #{studentNum}, #{userName}, #{realName}, #{password})
    </insert>
    <delete id="deleteStudentById">
        delete from shop where id=#{id};
    </delete>
    <update id="updateStudent" parameterType="com.community.online.domain.Waiter">
        update shop set student_num=#{studentNum}, user_name=#{userName}, real_name=#{realName}, password=#{password} where id=#{id}
    </update>
</mapper>